@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

h1 {
    color: #FFF;
    font-family: 'Indie Flower', cursive;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

header {
    display: flex;
    background: #2D333B;
    width: 100%;
    height: 3rem;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}