.item-list {
    margin: 25=4px 0;
}


.item-list strong {
    color: #539BF5;
    font-size: 24px;
    margin: 24px 0;
}

.item-list p {
    color: #999;
    font-family: Kailasa;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 24px;
}